header {
    height: 400px;
    background-image: url(../images/ghana.jpg);
    background-size: cover;
    background-position: center;
}
.akan{
    color:white;
    margin-left: 400px;
    padding-top: 100px;
}


